<div id="getPostDiv">
    {{#if isPost}}
        <h1>{{post.type}} Request Received</h1>
    {{else}}
        <h1>{{type}} Request Received</h1>
    {{/if}}
    <table border=1>
        <caption style="min-width:500px; font-weight: bold">Name/Value pairs</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {{#each params}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.value}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{#if isPost}}
        <br />
        <br />
        <table border=1>
            <caption style="min-width:500px; font-weight: bold">POST Parameter Names & Values</caption>
            <thead>
                <tr>
                    <th>Parameter Name</th>
                    <th>Parameter Value</th>
                </tr>
            </thead>
            <tbody>
                {{#each post.params}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.value}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    {{/if}}
</div>
